<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Products</title><link rel="stylesheet" href="styles/index.css">
  </head>
  <body>
    <div class="content">
      <h1>List Products</h1>
      <h2><a href="/add-product">Add product</a></h2>
      <table class="product-list">
      <div class="search-bar">
          <form id="search-form" action="/search-products" method="get">
              <input type="text" id="search-input" name="q" placeholder="Search for products">
              <button type="submit">Search</button>
          </form>
      </div>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Staus</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < products.length; i++) { %>
            <tr class="product">
              <td>
                <img src="/images/<%= products[i].image %>" alt="<%= products[i].product_name %>" />
              </td>
              <td><%= products[i].product_name %></td>
              <td><%= products[i].description %></td>
              <td>$<%= products[i].price %></td>
              <td><%= products[i].quantity %></td>
              <td><%= products[i].category_id %></td>
              <td><%= products[i].status %></td>
              <td>
              </td>
            </tr>
          <% } %>
          
        </tbody>
      </table>
    </div>
  </body>
  <script src="/main.js"></script>
</html>